.logo-container {
    width: 100px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zaprecall-logo-small {
    width: 52px;
    height: 60px;
    margin-right: 25px;
}

.flashcard-column {
    height: 335px;
    overflow: scroll;
}

.flashcard-setup {
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reveal-inquiry-button {
    font-size: 25px;
}

.inquiry-container {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-arrow {
    width: 30px;
    height: 20px;
}

.hidden {
    display: none;
}

.inquiry-container > h6 {
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.answer-container {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.answer-button {
    width: 85px;
    height: 37px;
    border-radius: 5px;
    border: none;
    margin: 25px 4px 0 4px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    color: #FF3030;
    text-decoration:line-through;
}

.yellow {
    color: #FF922E;
    text-decoration:line-through;
}

.green {
    color: #2FBE34;
    text-decoration:line-through;
}

.button-style-red {
    background: #FF3030;
}

.button-style-yellow {
    background: #FF922E;
}

.button-style-green {
    background: #2FBE34;
}

.footer {
    width: 375px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer > p {
    text-transform: uppercase;
}

.footer-final-results {
    width: 375px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}