* {
    box-sizing: border-box;
}

.page-setup {
    width: 375px;
    height: 667px;
    background: #FB6B6B;
    border: 1px solid #DBDBDB;
}

.zaprecall-title {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 45px;
    letter-spacing: -0.012em;
}

h3 {
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

p {
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

/* font-family: 'Roboto', sans-serif; */