.logo-container {
    width: 100px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zaprecall-logo-small {
    width: 52px;
    height: 60px;
    margin-right: 25px;
}

.flashcard-setup {
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-or-affirmation-container {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.show-question-or-affirmation-button {
    font-size: 25px;
}

.question-or-affirmation-container {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.footer {
    width: 375px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer > p {
    text-transform: uppercase;
}